html {
    overflow-y: scroll;
    overflow-x:hidden; 
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* height: 100%; */
    height: auto;

}

.vl1 {
    position: fixed;
    top:0px;
    right:282px;
    border-left: 3px solid #999999;
    height: 100vh;
    z-index: 9;
}

.vl2 {
    position: fixed;
    top:0px;
    right:150px;
    border-left: 3px solid #ffb800;
    height: 100vh;
    z-index: 9;
  }

.navbar{
    padding-top: 110px;
    padding-left: 60px;
}

.navbar-brand{
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    color: #000000;
    font-size: 33px;
    line-height: 24px;
}


.nav{
    padding-right: 23px;
    text-align: right;
}

.nav-item{
    padding:10px 15px;
    z-index: 999;
}

.nav-link{
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: 500;
    color: #353744 !important;
    /* text-decoration: underline; */
    font-size: 18px;
    line-height: 20px;
}

.nav-link:hover{
    color: #ffb800 !important;
    text-decoration: underline;
}

@media only screen and (max-width: 600px){
    .navbar{
        padding: 40px 25px;
    }
}

.name-head0{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 9vw;
    color: #353744;
    margin-bottom: -20px;
}

.name-head{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 20vw;
    color: #353744;
}

h4{
    font-family: 'Average Sans', sans-serif;
    font-weight: 500;
    color: #353744;
    text-align: right;
    font-size: 19px;
    line-height: 24px;
    position: relative;
    right:290px;
}

.main-head{
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: 500;
    padding:10px 0;
    /* font-size: 250px !important; */
    font-size: 22vw;
    color: #ffffff;
    padding-top: 340px;
    line-height: 280px;
    -webkit-text-stroke: 3px #353744;
    transition: 1s ease;
    display: block;
}

.main-head2{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    padding:10px 0;
    /* font-size: 250px !important; */
    font-size: 20vw;
    color: #ffffff;
    padding-top: 400px;
    line-height: 240px;
    -webkit-text-stroke: 6px #999999;
    transition: 1s ease;
}

.main-head3{
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: 500;
    padding:10px 0;
    /* font-size: 250px !important; */
    font-size: 20vw;
    color: #ffffff;
    padding-top: 300px;
    line-height: 280px;
    -webkit-text-stroke: 3px #353744;
}


.cards{
    position: relative;
    top:0px;
    left:600px;
    transition: 1.6s ease;
}


.lc1{
    position: relative;
    top:-190px;
    transition: 1.6s ease;
}

.lc2{
    position: relative;
    top:-100px;
    transition: 1s ease;  
    padding-bottom: 200px; 
}

.card1{
    position: relative;
    margin:50px 0;
    width: 530px;
    /* height: 240px; */
    padding-left: 30px;
    z-index: 9999 !important;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 2px 2px #CCCCCC; */
    box-shadow: 0px 2px 8px rgba(153, 153, 153, 0.3);
    border-radius: 4px;
    
}

.cards h1{
    padding-top: 70px;
    font-family: 'Average Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #353744 !important;
    line-height: 26px;
}

.cards h1 a{
    /* text-decoration: none; */
    color: #353744;
}

.cards p{
    font-family: 'Average Sans', sans-serif;
    font-size: 14px;
    padding-right: 20px;
    line-height: 20px !important;
}

.lite{
    font-family: 'Average Sans', sans-serif;
    color: #999999;
    font-size: 12px !important;
    padding-bottom: 20px;
}

.im1{
    position: relative;
    top:150px;
    right:10px;
    visibility: hidden;
    transition: 0.4s ease;
}

.im2{
    position: relative;
    top:250px;
    right:100px;
    visibility: hidden;
    transition: 0.4s ease;
}

.card1{
    transition: 0.6s ease;
}

.card1 a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: #353744;
}

.card1:hover{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  /* animation-name: example;
  animation-duration: 0.25s; */
    border-left: 8px solid #ffb800;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ls-card:hover{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px solid #ffb800;
    box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
}

#cds1{
    margin-top:-70px
}

#cds1:hover .im1{
    visibility: visible;
    right: 120px;
}

#cds1:hover .im2{
    visibility: visible;
    right: 250px;
}

#cds2{
    margin-top: -140px;
}

#cds2:hover .im1{
    visibility: visible;
    right: 120px;
}

#cds2:hover .im2{
    visibility: visible;
    right: 250px;
}

#cds3{
    margin-top: 90px;
}

#cds3:hover .im1{
    visibility: visible;
    right: 120px;
}

#cds3:hover .im2{
    visibility: visible;
    right: 250px;
}

.side-works{
    position: relative;
    top:0px;
}

.about{
    position: relative;
    top:-100px;
    max-height: 1000px;
}

.card1 img{
    width:548px;
    height: 500px;
    position: relative;
}

.last-card{
    position: relative;
    top:-400px;
    left:50px;
}

.info-card{
    position: relative;
    width:580px;
    top:-600px;
    left: 350px;
    padding: 50px;
    background-color: #ffb800;
    z-index:9999;
}

.info-card p{
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.ls-card{
    left: 600px;
    padding-left: 0px;
}

.com-card{
    position: relative;
    z-index: 99999;
    background-color: #ffffff;
    width:290px;
    left:920px;
    bottom: 700px;
    box-shadow: 0px 2px 8px rgba(153, 153, 153, 0.3);
    transform: rotate(354deg);

}

.com-card p{
    font-family: 'Nanum Pen Script', cursive;
    padding: 20px;
    padding-top: 30px;
    color: #ffb800;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
}

.tape{
    position: relative;
    bottom:1080px;
    left:810px;
    z-index: 999999;
}


@media screen and (min-width: 1400px) {
    .cards{
        left:60%;
    }

    .last-card{
        left:12%;
    }

    .info-card{
        left: 33%;
    }

    .com-card{
        left:70%;
    }

    .tape{
        left:970px;
    }

    .navbar{
        margin-right: -120px;
        padding-left: 10px;
    }

    h4{
        padding-left: 1023px;
    }
  }


.footer{
    position: relative;
    text-align: center;
    /* height: 300px; */
    margin-top: 300px;
    z-index: 99;
    background-color: #ffb800;
}

.links1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.lnk1 a{
    color: #ffffff !important;
    text-decoration: underline;
    font-family: 'Average Sans', sans-serif;
    font-size: 44px;
    /* line-height: 15px; */
    font-weight: 4
    00;
}

.lnk1{
    padding:0px 40px !important;
}

.lnk1 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fac53e;
    color: #fff;
    text-align: center;
    border-radius: 6px;  
    /* Position the tooltip */
    position: absolute;
    right:200px;
    z-index: 1;
  }
  
  .lnk1:hover .tooltiptext {
    visibility: visible;
  }

.footer h1{
    color: #ffb800;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: 500;
    padding-top: 30px;
    font-size: 22vw;
    font-weight: 500;
    line-height: 300px;
    -webkit-text-stroke: 3px #ffffff;
}

.end-p{
    color: #ffffff;
    font-family: 'Average Sans', sans-serif;
    font-weight: 400;
    padding-top: 200px;
    text-align: right;
    padding-right: 40px;
    padding-left: 30px;
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 15px;
}

.handles{
    list-style-type: none;
    margin: 0;
    text-align: right;
    padding-top:170px;
    padding-right: 30px;
    overflow: hidden;
}


.lnk2 img{
    transform: scale(0.9);
}

.lnk2{
    margin: 0 -5px;
}


li{
    display: inline-block;
}

.link-l img{
    padding-bottom: 4px;
}

.links1{
    text-align: right;
}

.end-note{
    margin-bottom: 0;
    padding:60px 0;
    padding-top: 70px;
    color: #ffffff;
    padding-left: 40px;
}
