html {
    overflow-y: scroll;
    overflow-x:hidden; 
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* height: 100%; */
    height: auto;

}

.vl1 {
    position: fixed;
    top:0px;
    right:282px;
    border-left: 3px solid #999999;
    height: 100vh;
    z-index: 9;
}

.vl2 {
    position: fixed;
    top:0px;
    right:150px;
    border-left: 3px solid #ffb800;
    height: 100vh;
    z-index: 9;
  }

.navbar{
    padding-top: 110px;
    padding-left: 60px;
}

.navbar-brand{
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    color: #000000;
    font-size: 33px;
    line-height: 24px;
}

.navbar-nav{
    padding-right: 40px;
}

.nav-item{
    padding:0 15px;
    z-index: 999;
}

.nav-link{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: #000000 !important;
    text-decoration: underline;
    font-size: 18px;
    line-height: 20px;
}

@media only screen and (max-width: 600px){
    .navbar{
        padding: 40px 25px;
    }
}

h4{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 17px;
    padding-top: 210px;
    line-height: 24px;
    padding-left: 760px;
}

.main-head{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    padding:10px 0;
    /* font-size: 250px !important; */
    font-size: 20vw;
    color: #ffffff;
    padding-top: 340px;
    line-height: 240px;
    -webkit-text-stroke: 6px #999999;
    transition: 1s ease;
    display: block;
}

.main-head2{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    padding:10px 0;
    /* font-size: 250px !important; */
    font-size: 20vw;
    color: #ffffff;
    padding-top: 40px;
    line-height: 240px;
    -webkit-text-stroke: 6px #999999;
    transition: 0.4s ease;
}

.main-head3{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    padding:10px 0;
    /* font-size: 250px !important; */
    font-size: 20vw;
    color: #ffffff;
    padding-top: 40px;
    line-height: 240px;
    -webkit-text-stroke: 6px #999999;
}


.cards{
    position: relative;
    top:0px;
    left:600px;
    transition: 1.6s ease;
}


.lc1{
    position: relative;
    top:0px;
    transition: 1.6s ease;
}

.lc2{
    position: relative;
    top:0px;
    transition: 1s ease;   
}

.card1{
    position: relative;
    margin:50px 0;
    width: 530px;
    /* height: 240px; */
    padding-left: 20px;
    z-index: 9999 !important;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 2px 2px #CCCCCC; */
    box-shadow: 0px 2px 8px rgba(153, 153, 153, 0.3);
    border-radius: 4px;
    
}

.cards h1{
    padding-top: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #353744 !important;
    line-height: 26px;
}

.cards p{
    font-size: 14px;
    padding-right: 20px;
    line-height: 20px !important;
}

.lite{
    color: #999999;
    padding-bottom: 20px;
}

.im1{
    position: relative;
    top:130px;
    right:10px;
    visibility: hidden;
    transition: 0.4s ease;
}

.im2{
    position: relative;
    top:230px;
    right:100px;
    visibility: hidden;
    transition: 0.4s ease;
}

.card1{
    transition: 0.6s ease;
}

.card1:hover{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  /* animation-name: example;
  animation-duration: 0.25s; */
    border-left: 8px solid #ffb800;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#cds1{
    margin-top:-70px
}

#cds1:hover .im1{
    visibility: visible;
    right: 120px;
}

#cds1:hover .im2{
    visibility: visible;
    right: 250px;
}

#cds2{
    margin-top: -150px;
}

#cds2:hover .im1{
    visibility: visible;
    right: 120px;
}

#cds2:hover .im2{
    visibility: visible;
    right: 250px;
}

#cds3{
    margin-top: -200px;
}

#cds3:hover .im1{
    visibility: visible;
    right: 120px;
}

#cds3:hover .im2{
    visibility: visible;
    right: 250px;
}

.side-works{
    position: relative;
    top:0px;
}

.about{
    position: relative;
    top:-100px;
    max-height: 1000px;
}

.card1 img{
    width:500px;
    height: 500px;
    position: relative;
}

.last-card{
    position: relative;
    top:-400px;
    left:50px;
}

.info-card{
    position: relative;
    width:580px;
    top:-600px;
    left: 350px;
    padding: 50px;
    background-color: #ffb800;
    z-index:9999;
}

.info-card p{
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.ls-card{
    left: 600px;
}

.com-card{
    position: relative;
    z-index: 99999;
    background-color: #ffffff;
    width:290px;
    left:920px;
    bottom: 700px;
    box-shadow: 0px 2px 8px rgba(153, 153, 153, 0.3);
    transform: rotate(354deg);

}

.com-card p{
    font-family: 'Nanum Pen Script', cursive;
    padding: 20px;
    padding-top: 30px;
    color: #ffb800;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.tape{
    position: relative;
    bottom:1080px;
    left:810px;
    z-index: 999999;
}


@media screen and (min-width: 1400px) {
    .cards{
        left:800px;
    }

    .last-card{
        left: 100px;
    }

    .info-card{
        left: 500px;
    }

    .com-card{
        left: 1070px;
    }

    .tape{
        left:970px;
    }
  }

.footer{
    position: relative;
    text-align: center;
    /* height: 300px; */
    margin-top: -300px;
    z-index: 99;
    background-color: #ffb800;
}

.links1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.links1 i{
    padding-right: 12px;
    color: #353744 !important;
    font-size: 1.8vw;
}

.lnk1 a{
    color: #353744 !important;
    text-decoration: underline;
    font-size: 1.8vw;
    line-height: 15px;
    font-weight: 800;
}

.lnk1{
    padding:0px 40px !important;
}

.footer h1{
    color: #ffffff;
    padding-top: 170px;
    font-size: 3.1vw;
    font-weight: 800;
}

.end-p{
    color: #ffffff;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 15px;
}

.handles{
    list-style-type: none;
    margin: 0;
    padding-top: 80px;
    overflow: hidden;
}

.lnk2{
    border: 4px solid #353744;
    padding:4px 5px 2px 5px;
    border-radius: 50%;
    margin: 0 7px;
}

.lnk2 i{
    font-size: 1.7vw;
    font-weight: 600;
    color: #353744 !important;
}


li{
    display: inline-block;
}

.link-g{
    padding:4px 6px 2px 6px;
}
 
.link-l{
    padding:4px 5px 2px 5px;
    bottom: 2px;
}

.link-l img{
    padding-bottom: 4px;
}

.end-note{
    margin-bottom: 0;
    padding:30px 0;
    color: #ffffff;
    padding-left: 40px;
}
